.authPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10vh;
}
.authButton {
  text-decoration: none;
  border: 2px darkblue solid;
  padding: 10px;
  margin: 5px;
  border-radius: 4px;
}
.authButton:hover {
  background-color: #5f82f5;
  cursor: pointer;
}
.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10vh;
}
.loginForm {
  margin: 5vh;
}
.loginInput {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.loginButton {
  margin: 5px;
  padding: 10px;
  border: 2px darkblue solid;
  text-align: center;
}
.loginButton:hover {
  background-color: #5f82f5;
  cursor: pointer;
}

.adminPage {
  margin: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.adminInput {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.createAdminButton {
  margin: 5px;
  padding: 10px;
  border: 2px darkblue solid;
  border-radius: 4px;
  text-align: center;
}
.createAdminButton:hover {
  background-color: #5f82f5;
  cursor: pointer;
}
.error {
  margin: 10px;
  color: rgb(138, 0, 0);
  font-weight: 800;
}
.adminDashboard {
  display: flex;
  justify-content: space-around;
  margin: 5vh;
}
.button {
  margin: 5px;
  padding: 10px;
  border: 2px darkblue solid;
  border-radius: 4px;
  text-align: center;
}
.button:hover {
  background-color: #5f82f5;
  cursor: pointer;
}
.buttonSmall {
  margin: 5px;
  padding: 5px;
  border: 2px darkblue solid;
  border-radius: 4px;
  text-align: center;
}
.buttonSmall:hover {
  background-color: #5f82f5;
  cursor: pointer;
}
.firstAndSecond {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.addUser {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5vh;
  justify-content: space-between;
}
.addUserInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh;
  margin: 4vh;
}
.createTask {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 5vh;
}
.createTaskInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh;
}
.taskList {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.unorderedList {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
}
.singleList {
  border: 2px #11182e solid;
  background-color: #aa91ee;
  padding: 5vh;
  margin: 5px;
}
